header, footer, nav, main {
    display: block;
}

/* General Layout Design CSS */
body {
  margin: 0;
  background-image: url(Home/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main content layout */
#wrapper {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

/* navigation bar */
.navbar {
  background-color: #000000;
  position: sticky;
  position: -webkit-sticky; /* for safari */
  top: 0;
  width: 100%;
  display: table;
  z-index: 2;
}

/* links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Oswald", serif;
  font-weight: bold;
  font-size: 30px;
}

/* change links' background color when hovered */
.navbar a:hover {
  background: #DDDDDD;
  color: black;
}

/* navbar content layout */
#navdiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* logo size in navbar */
#navdiv img {
  height: 50px;
  width: auto;
}

.banner {
  width: 100%;
  height: auto;
}

/* progress bar container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background-color: #cccccc;
  display: table-footer-group;
}

/* progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background-color: #4caf50;
  width: 0%;
}

/* font properties */
h1 {
  font-family: "Oswald", serif;
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-family: "Oswald", serif;
  font-weight: bold;
  font-size: 48px;
}

p {
  font-family: "Open Sans", serif;
  font-size: 20px;
}

/* footer properties */
footer {
  background-color: #000000;
  color: #F2F2F2;
  font-family: "Oswald", serif;
  font-size: 20px;
  padding: 20px;
  clear: both;
}

/* footer content layout */
#footerdiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* footer default link color */
footer a:link {
  color: #C4E1FF;
}

/* footer visited link color */
footer a:visited {
  color: #C4E1FF;
}

/* footer mouse hover link color */
footer a:hover {
  color: #A3F5F1;
}

/* Polaroid Styled Image*/
.polaroid {
  float: left;
  width: 40%;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  margin-right: 25px;
}

/* text alignment in polaroid */
.polaroid-text {
  text-align: center;
  padding: 10px 20px;
}

/* image alignment in polaroid */
.polaroid-image {
  display: block;
  max-height: 50%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* polaroid default link color */
.polaroid a:link {
  color: #000000;
  text-decoration: none;
}

/* polaroid mouse hover link color */
.polaroid a:hover {
  color: #475BFF;
}

/* news icon container */
.news {
  float: left;
  width: 10%;
  min-width: 100px;
  height: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
}

/* news image size and box-shadow */
.news img {
  display: block;
  width: 90%;
  max-width: 100px;
  height: 100px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
}

/* news image opacity and box-shadow when hovered */
.news img:hover {
  opacity: 0.7;
  box-shadow: 4px 6px 10px 0 rgba(59, 112, 255, 0.9);
}

/* text alignment below news icons */
.textcenter {
  text-align: center;
}

/* service image and content container */
.service-container {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

/* top content properties */
.service-content1 {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-bottom: 5px solid white;
  color: #f1f1f1;
  width: 100%;
  height: 33%;
}

/* middle content properties */
.service-content2 {
  position: absolute;
  top: 33%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-bottom: 5px solid white;
  color: #f1f1f1;
  width: 100%;
  height: 33%;
}

/* bottom content properties */
.service-content3 {
  position: absolute;
  top: 66%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-bottom: 5px solid white;
  color: #f1f1f1;
  width: 100%;
  height: 34%;
}

/* content1 background-color when hovered */
.service-content1:hover {
  background-color: rgba(245, 245, 245, 0.5);
}

/* content2 background-color when hovered */
.service-content2:hover {
  background-color: rgba(245, 245, 245, 0.5);
}

/* content3 background-color when hovered */
.service-content3:hover {
  background-color: rgba(245, 245, 245, 0.5);
}

/* service image alignment */
.aligncenter {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  max-height: 50%;
}

/* communication image container */
.communication {
  width: 100%;
  min-height: 500px;
  margin-top: 25px;
  margin-bottom: 75px;
}

.subcom {
  display: block;
  float: left;
  width: 12%;
  min-width: 100px;
  margin:15px;
}
/* communication image properties */
.subcom img {
  width: 100%;
  border-radius:50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* communication image enlarge when hovered*/
.subcom img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

form {
    /* Just to center the form on the page */
    margin: 0;
    width: 300px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div {
  text-align: left;
  padding: 5px;
}

input, textarea {
  margin-top: 5px;
  display: block;
}

/* clear property for contents */
.clearboth {
  clear: both;
}

/* responsive web design for mobile*/
@media screen and (max-width:700px) {
  .navbar {
    width: 100%;
    position: relative;
  }

  .navbar a {
    width: 100%;
    padding: 5px 0px;
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .polaroid {
    width: 100%;
  }

  .news {
    width: 100%;
  }

  .subcom {
    width: 50%;
  }
}
